<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            <i>CREATED BY PRAYME</i>
        </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!--    <script src="/js/jquery.easing.min.js"></script>-->

    <!-- Custom JavaScript for this theme -->
    <script src="/js/scrolling-nav.js"></script>

    <script>
        var main = {
            init: function () {
                var _this = this;
                $('#btn-save').on('click', function () {
                    _this.save();
                });

                $('#btn-signup').on('click', function () {
                    _this.signUp();
                });

                $('#btn-signin').on('click', function () {
                    _this.signIn();
                });
            },
            save: function () {
                const data = {
                    studyName: document.getElementById("studyName").value,
                    leader: document.getElementById("leader").value,
                    goal: document.getElementById("goal").value,
                    duration: document.getElementById("duration").value,
                    time: document.getElementById("time").value,
                    currentStudyMate: 0,
                    status: "INCRUIT",
                };

                $.ajax({
                    type: 'POST',
                    url: '/create-study/save',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function () {
                    alert('스터디가 생성되었습니다.');
                    window.location.href = '/';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            },
            signUp: function () {
                let data = {
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value,
                    name: document.getElementById('name').value,
                    studentNumber: document.getElementById('studentNumber').value,
                    role: "STUDENT",
                };

                $.ajax({
                    type: 'POST',
                    url: '/signup/request',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function () {
                    alert('회원가입에 성공했습니다.');
                    window.location.href = '/';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            },
            signIn: function () {
                const data = {
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value,
                    token: document.getElementsByName('_csrf').value,
                };

                $.ajax({
                    type: 'POST',
                    url: '/signin/request',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded',
                }).done(function () {
                    alert('로그인에 성공했습니다.');
                    window.location.href = '/';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }

        };

        main.init();
    </script>

    <!--    <script src="/js/ajax.js"></script>-->
</footer>

</body>

</html>