<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="pioneer">
    <meta name="author" content="prayme">
    <title>컴퓨터공학과 동아리 - PIONEER</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/signup.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">PIONEER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{#user}}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger">{{memberName}}님, 안녕하세요!</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="{{#_csrf}}token{{/_csrf}}">
                            <input class="nav-link js-scroll-trigger bg-dark border border-dark" type="submit" value="로그아웃">
                        </form>
                    </li>
                {{/user}}
                {{^user}}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/signin">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/signup">회원가입</a>
                    </li>
                {{/user}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#contact">가입 문의</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/study">스터디 현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">파티원 모집</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
