<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="pioneer">
    <meta name="author" content="prayme">
    <title>컴퓨터공학과 동아리 - PIONEER</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/signup.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">PIONEER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#about">동아리 소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/study">진행중인 스터디</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/study">모집중인 스터디</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/study">종료한 스터디</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">파티원 모집</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
