{{> layout/study-header}}
<br><br><br>
<div class="col-md-12">
    <div class="col-md-4">
        <form action="">
            <div class="form-group">
                <label for="studyName">스터디 주제</label>
                <input type="text" class="form-control" id="studyName" placeholder="스터디 주제를 입력하세요">
            </div>
            <div class="form-group">
                <label for="leader">리더</label>
                <input type="text" class="form-control" id="leader" placeholder="리더 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="goal">목표</label>
                <textarea class="form-control" rows="10"
                          id="goal" placeholder="스터디 목표를 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="duration">진행기간</label>
                <input type="text" class="form-control" id="duration" placeholder="ex) 2019.03.01 ~ 2019.06.30">
            </div>
            <div class="form-gorup">
                <label for="time">진행시간</label>
                <input type="text" class="form-control" id="time" placeholder="ex)매주 월요일 18:00~20:00">
            </div>
        </form>
        <br>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        <a href="/study" role="button" class="btn btn-danger">취소</a>
    </div>
</div>
<br>

<script>
    let _this;
    let httpRequest;

    function init() {

        _this = this;

        document.getElementById('btn-save')
                .addEventListener('click', () => {
                    _this.save('POST', 'http://localhost:8080/create-study/save');
        });

        document.getElementById('btn-signup')
                .addEventListener('click', () => {
                   _this.signUp('POST', 'http://localhost:8080/signup/request');
        });
    }

    function save(method, url) {
        httpRequest = initXHR();

        const data = {
            studyName: document.getElementById("studyName").value,
            leader: document.getElementById("leader").value,
            goal: document.getElementById("goal").value,
            duration: document.getElementById("duration").value,
            time: document.getElementById("time").value,
            currentStudyMate: 0,
            status: "INCRUIT",
        };

        httpRequest.open(method, url, true);
        httpRequest.setRequestHeader('dataType', 'json');
        httpRequest.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        httpRequest.responseType = "document";
        httpRequest.send(JSON.stringify(data));

        httpRequest.addEventListener('load', () => {
            window.location.href = "/study";
        })
    }

    function signUp(method, url) {
        httpRequest = initXHR();

        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
            name: document.getElementById('name').value,
            studentNumber: document.getElementById('studentNumber').value,
        };


        httpRequest.open(method, url, true);
        httpRequest.setRequestHeader('dataType', 'json');
        httpRequest.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        httpRequest.responseType = "document";
        httpRequest.send(JSON.stringify(data));

        httpRequest.addEventListener('load', () => {
            window.location.href = "/index";
        })
    }

    function initXHR() {
        httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert('XMLHTTP 인스턴스 생성 불가');
            return false;
        }

        return httpRequest;
    }

    const alertContents = {
        save: () => {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = "/study";
                    } else {
                        alert('request에 뭔가 문제가 있어요.');
                    }
                }
            } catch(e) {
                alert('Exception' + e.description);
            }
        },

        signup: () => {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = "/index";
                    } else {
                        alert('request에 뭔가 문제가 있어요.');
                    }
                }
            } catch(e) {
                alert('Exception' + e.description);
            }
        },
    };

    init();
</script>

{{> layout/footer}}
