{{> layout/header}}


<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>구름 Devel Up Club 가입 시 무료 인강을 수강할 수 있습니다.</h1>
        <p class="lead">기간: ~ 2020.12.31</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>1. 가입하기</h2>

                <a href="https://pioneer.groom.io">https://pioneer.groom.io</a>에 접속하여 가입한다.
                <br>
                <img src="/images/signup.png" class="img-fluid" alt="가입하기">
                <br><br><br>
                <h2>2. 동아리 회장에게 가입 승인을 요청한다.</h2>

            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>3. 승인이 완료되면 강의를 수강한다.</h3>
                <br>
                <img src="images/signin_1.png" class="img-fluid" alt="">
                <img src="images/signin_2.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

{{> layout/footer}}
