{{> layout/header}}


<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>환영합니다! PIONEER 입니다!</h1>
        <p class="lead">우리는 함께 공부하고 함께 성장합니다!</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>동아리 소개</h2>

                <p class="lead">우리는 스터디와 대외활동을 목표로 열심히 달려갑니다.</p>
                <ul>
                    <li>안드로이드, 웹, 알고리즘, 자바, 파이썬, 인공지능 등 다양한 주제를 스터디합니다.</li>
                    <li>스터디한 내용을 토대로 공모전에 참여해 각 분야에서 수상한 이력이 있습니다.</li>
                    <li>개강파티, 종강파티 같은 술자리 문화가 없습니다.</li>
                    <li>2019학년도 1학기 개설되었습니다.</li>
                    <li>가입비, 회비가 없습니다.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>주요 활동</h2>
                <p class="lead">

                <table class="table table-bordered table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">대회명</th>
                        <th scope="col">성적</th>
                        <th scope="col">참가자</th>
                        <th scope="col">소속 스터디</th>
                        <th scope="col">참가</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>INTEL AI 드론 경진대회</td>
                        <td>대상</td>
                        <td>송준화, 신종환, 이상현, 황미림</td>
                        <td>인공지능 스터디</td>
                        <td>2019-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>INTEL AI 드론 경진대회</td>
                        <td>최우수상</td>
                        <td>양용준, 임재영, 황성찬, 이성현</td>
                        <td>인공지능 스터디</td>
                        <td>2019-1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>구름EDU DEVEL UP 해커톤</td>
                        <td>특별상</td>
                        <td>조수연</td>
                        <td>안드로이드 스터디</td>
                        <td>2019-2</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>한남대학교 빅데이터 경진대회</td>
                        <td>최우수상</td>
                        <td>황성찬, 신종환, 송준화, 이상현</td>
                        <td>인공지능 스터디</td>
                        <td>2019-2</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>INTEL AI 드론 경진대회</td>
                        <td>대상</td>
                        <td>송준화, 신종환, 이상현, 황미림</td>
                        <td>인공지능 스터디</td>
                        <td>2019-1</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>임베디드 SW 경진대회</td>
                        <td>결승 진출</td>
                        <td>이헌주, 이성현, 한규리, 황인규, 백창현</td>
                        <td>자바 스터디</td>
                        <td>2019-2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{{> layout/footer}}
