{{> layout/header}}

<!--body-->
<div class="container">
    <br><br><br>
    <h1>내가 신청한 스터디</h1>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>리더</th>
            <th>참여인원</th>
            <th>개설날짜</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#registeredStudies}}
            <tr>
                <td>{{idx}}</td>
                <td><a href="/studies/{{idx}}">{{studyName}}</a></td>
                <td>{{leader}}</td>
                <td>{{currentStudyMate}}</td>
                <td>{{createdDate}}</td>
                <td><a href="/study/unregister/{{idx}}" class="btn btn-danger">신청취소</a></td>
            </tr>
        {{/registeredStudies}}
        {{^registeredStudies}}
            <tr>
                <td colspan="6" class="text-center">신청한 스터디가 없습니다.</td>
            </tr>
        {{/registeredStudies}}
        </tbody>
    </table>
</div>
<!--/body-->

{{> layout/footer}}