{{> layout/header}}

<!--body-->
<div class="container">
    <!-- 스터디 현황 리더, 주제, 날짜, 위치, 시간, 인원 -->
    <br><br><br>
    <h1>내가 생성한 스터디</h1>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>리더</th>
            <th>참여인원</th>
            <th>개설날짜</th>
            <th>#</th>
            <th>#</th>
        </tr>
        </thead>
    <tbody id="tbody">
        {{#createStudies}}
        <tr>
            <td>{{idx}}</td>
            <td><a href="/studies/{{idx}}/update">{{studyName}}</a></td>
            <td>{{leader}}</td>
            <td>{{currentStudyMate}}</td>
            <td>{{createdDate}}</td>
            <td><div id="/api/v1/studies/{{idx}}" name="study-delete" class="btn btn-success">삭제하기</div></td>
            <td><div id="/api/v1/studies/{{idx}}/status/CLOSED" name="study-status-close" class="btn btn-danger">마감하기</div></td>
        </tr>
        </tbody>
        {{/createStudies}}
        {{^createStudies}}
            <tr>
                <td colspan="7" class="text-center">생성한 스터디가 없습니다.</td>
            </tr>
        {{/createStudies}}
    </table>

    <br><br><br>
    <h1>내가 신청한 스터디</h1>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>리더</th>
            <th>참여인원</th>
            <th>개설날짜</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#registeredStudies}}
            <tr>
                <td>{{idx}}</td>
                <td><a href="/studies/{{idx}}">{{studyName}}</a></td>
                <td>{{leader}}</td>
                <td>{{currentStudyMate}}</td>
                <td>{{createdDate}}</td>
                <td><a href="/study/unregister/{{idx}}" class="btn btn-danger">신청취소</a></td>
            </tr>
        {{/registeredStudies}}
        {{^registeredStudies}}
            <tr>
                <td colspan="6" class="text-center">신청한 스터디가 없습니다.</td>
            </tr>
        {{/registeredStudies}}
        </tbody>
    </table>
</div>
<!--/body-->

{{> layout/footer}}
