{{> layout/sign-header}}

<div class="container">
    <br><br><br><br>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">

            <img src="/images/pioneer-logo.png" alt="pioneer" height="60" width="60"
                 style="display: block; margin-left: auto; margin-right: auto;">
            <h4 class="card-title mt-3 text-center">로그인</h4>
            <form action="/signin/request" method="post" enctype="multipart/form-data">
                <!--            <form>-->
                <input type="hidden" name="_csrf" value="{{#_csrf}}token{{/_csrf}}">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input id="email" class="form-control" placeholder="Email" type="email" name="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" class="form-control" placeholder="비밀번호" type="password" name="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <!--                    <button id="btn-signin" type="button" class="btn btn-primary btn-block">로그인</button>-->
                    <button id="btn-login" type="submit" class="btn btn-primary btn-block">로그인</button>
                    <button type="button" class="btn btn-danger btn-block" onclick="window.location.href='/'">취소
                    </button>
                </div> <!-- form-group// -->

                {{#isWrong}}
                    <p class="text-center text-danger">아이디 혹은 비밀번호가 틀렸습니다!</p>
                {{/isWrong}}
                <p class="text-center"><a href="/signup">아이디가 없으신가요?</a></p>
                <p class="text-center"><a href="/#">비밀번호를 잊으셨나요?</a></p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<br><br>

{{> layout/footer}}