{{> layout/header}}

<!--body-->
<div class="container">
    <!-- 스터디 현황 리더, 주제, 날짜, 위치, 시간, 인원 -->
    <br><br><br>
    <h1>진행중인 스터디 {{#leader}}- <a href="/studies/save" class="btn btn-success">스터디 생성하기</a>{{/leader}}
    </h1>
    <br>
    <div class="card-columns">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                {{^studies}}
                    <img style="align-items: center;" class="rounded mx-auto d-block" src="/images/no-study.jpg"
                         alt="no-study">
                    <br><br><br><br>
                {{/studies}}

                {{#studies}}
                    <form action="/api/v1/members/register/studies/{{idx}}" method="put" name="form-study">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header bg-transparenty">{{studyName}} 스터디 - 리더 {{leader}}</div>
                            <div class="card-body card-text">
                                <p>기간: {{duration}}</p>
                                <p>시간: {{time}}</p>
                                <p>현재인원: {{currentStudyMate}}</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <p>목표</p>
                                <p>{{goal}}</p>
                                <input type="submit" class="btn btn-outline-light btn-block" value="신청하기">
                            </div>
                        </div>
                        <br>
                    </form>
                {{/studies}}

            </div>
        </div>
    </div>

</div>
<!--/body-->

{{> layout/footer}}
