<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mystyle.css"/>
    <title>컴퓨터공학과 동아리 - PIONEER</title>
</head>
<body>

{{> layout/study-header}}

<!--body-->
<div class="container">
    <!-- 스터디 현황 리더, 주제, 날짜, 위치, 시간, 인원 -->
    <br><br><br>
    <h1>진행중인 스터디 - <a href="/create-study" class="btn btn-success">스터디 생성하기</a></h1>
    <br>
    <div class="card-columns">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {{#studies}}
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparenty">{{studyName}}스터디 - 리더 {{leader}}</div>
                        <div class="card-body card-text">
                            <p>기간: {{duration}}</p>
                            <p>시간: {{time}}</p>
                            <p>현재인원: {{currentStudyMate}}</p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <p>목표</p>
                            <p>{{goal}}</p>
                            <a href="#" class="btn btn-outline-light btn-block">신청하기</a>
                        </div>
                    </div>
                    <br>
                {{/studies}}

                {{^studies}}
                    <img style="align-items: center;" class="rounded mx-auto d-block" src="/images/no-study.jpg"
                         alt="no-study">
                    <br><br><br><br>
                {{/studies}}
            </div>
        </div>
    </div>

</div>
<!--/body-->

{{> layout/footer}}

</body>
</html>